<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<title>Menu</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
	   integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
	   crossorigin="anonymous"> 
	   <link th:href="@{/restaurantStyles.css}" rel="stylesheet" type="text/css" />
	   
	   <style>
			table#t1 {
				width:70%;
				margin-left:15%;
				margin-right:15%;
				border: 1px solid red;
				margin-top: 50px;
				margin-bottom: 50px;
			}
			
			input[type="text"] {
				width: 300px;
				margin: auto;
			}
	   </style>
	</head>
	
	<body>
		<div class="container-fluid">
			<header style="background:darkred" class="jumbotron">
				<h1 style="color:white">Ken's Hibachi</h1>
				<h2 style="color:white" class="font-italic">Finest Pan-Asian Cuisine</h2>
			</header>
			
			<nav>
				<p>
					<a class="btn badge-pill" href="#" th:href="@{/kr}"><img src="images/h.png" alt="Home" style="width: 20px;" class="img-fluid" /></a>
					<a class="btn badge-pill" href="#" th:href="@{/menu}">Menu</a>
					<a class="btn badge-pill" href="#" th:href="@{/feedback}">Feedback</a>
				</p>
			</nav>
			
			<hr/>
			<p>Welcome! Select the quantity of items you would like to order, then click the place order button at the bottom!<br/></p>
			<p>Current User:</p><p th:text="${user.username}"></p>
			
			<form action="loginorder" method="post">
				<div class="col-12 m-1 text-center" th:if="${!errors.isEmpty()}">
					<p class="alert alert-danger" th:each="error : ${errors}" th:text="${error.message}">Error message</p>
				</div>
				<div class="col-12 m-1 text-center" th:if="${!stringError.isEmpty()}">
					<p class="alert alert-danger" th:each="error : ${stringError}" th:text="${error}">Error message</p>
				</div>
				<table id="t1">
					 <tr>
						 <th>Entree</th>
						 <th>Price $</th>
						 <th>Description</th>
						 <th>Quantity</th>
					 </tr>
					<tr th:each="food : ${food}">
						<td th:text="${food.foodname}">Food Name</td>
						<td><input th:name="${food.foodname + 'p'}" type="text" th:value="${food.price}" onkeydown="return false" readonly></td>
						<td th:text="${food.description}">Food Description</td>
						<td><input th:name="${food.foodname + 'q'}" type="number" value="0" onkeydown="return false" min="0"></td>
					</tr>
				</table>
				<input id="id" name="id" th:value="${user.username}" hidden>
				<input type="submit" value="Checkout Order">
			</form><hr />
			
			<div id="c" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-40" src="images/1.png" alt="1">
					</div>
					<div class="carousel-item">
						<img class="d-block w-40" src="images/2.png" alt="2">
					</div>
					<div class="carousel-item">
						<img class="d-block w-40" src="images/3.png" alt="3">
					</div>
				</div>
			</div>
			
			<footer>
				 <hr />
				 <p>ABC Street, Hibachi City, North Carolina, 12345</p>
				 <p>(123) 456-7890</p>
			 </footer>
		 </div>
		 
		 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
 </html>